<h2 class="section-title">Contact Us</h2>

<div class="line"></div>
<div class="row equal">
    <div class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <iframe class="google-map-class" frameborder="0" [src]="getMapUrl()"></iframe>
    </div>
    <div class="col-sm-6 pad-bot-20 text-center">
        <p class="lead" [innerHtml]="caption"></p>
        <aside class="phone-details">
            <p class="lead" [innerHtml]="instruction"></p>
            <span class="title block">
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                <span [innerHtml]="telephoneNumber"></span>
            </span>
            <p class="lead">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <a [attr.href]="'mailto:' + emailAddress" [innerHtml]="emailAddress"></a>
            </p>
        </aside>
    </div>
</div>