#main {
    float: left;
    background-color: rgb(247, 245, 242);
    overflow: auto;
    height: 100%;
    border: 5px solid #FFFFFF;
    width: calc(100% - 300px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

#storewrapper { padding: 5px; }

.basket-item-total { text-align: right; }

.basket-item-quantity {
    padding-left: 2px;
    padding-right: 2px;
}

.basket-title {
    margin-bottom: 10px;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}

.basket-total {
    margin-top: 10px;
    border-top: 1px solid #000000;
    padding-top: 10px;
}

.button-bank { padding-top: 10px; }

.paper {
    width: 100%;
    margin: 0 auto;
    padding: 6px 5px 4px 72px;
    position: relative;
    color: #444;
    line-height: 20px;
    border: 1px solid #d2d2d2;
    background: #fff;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    -webkit-background-size: 100% 20px;
    -moz-background-size: 100% 20px;
    -ms-background-size: 100% 20px;
    -o-background-size: 100% 20px;
    background-size: 100% 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

.paper::before {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    left: 60px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4;
}

.paper-inline {
    position: absolute;
    left: 5px;
}

.show-basket {
    display: none !important;
    padding-top: 10px;
}

.product-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align:center;
}
.product-list li{
    vertical-align: top;
    display:inline-block;
}

@media screen and (max-width: 767px) {
    .products {
        text-align: center;
        padding-top: 40px;
    }

    .show-basket {
        background-color: rgb(247, 245, 242);
        left: 0;
        width: 100%;
        position: absolute;
        display: block !important;
        text-align: center;
        padding-bottom: 10px;
        z-index: 101;
    }

    #sidebar { width: 100%; }

    .fix-basket-btn {
        position: fixed;
        top: 50px;
    }

    #main { width: 100%; }

    .clear-float-optional { clear: both; }

    #storewrapper { width: 100%; }
}