<splash-banner [adjective]="splash.adjective"
               [title]="splash.title"
               [caption]="splash.caption"
               [target]="'#content'"
               [imgSrc]="'dist/assets/speciality.jpg'">
</splash-banner>
<section id="content">
    <div class="clear-float-optional"></div>
    <div id="main">
        <div class="products" *ngIf="specialityProducts">
            <div class="container-fluid">
                <speciality-product *ngFor="let product of specialityProducts"
                                    class="row"
                                    (addToBasket)="addToBasket($event)"
                                    [product]="product">
                </speciality-product>
            </div>
        </div>
    </div>
    <div class="clear-float-optional"></div>
    <sidebar *ngIf="basket" id="sidebar" [basket]="basket"></sidebar>
</section>