<nav class="navbar navbar-default navbar-lower" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsible-navbar-lower">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="collapsible-navbar-lower">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text"
                           name="search-term"
                           [(ngModel)]="searchTerm"
                           class="form-control"
                           (change)="updateFilterItems()"
                           placeholder="Search">
                </div>
                <div class="form-group">
                    <span *ngFor="let category of categories" class="pad-left-20">
                        <input type="checkbox" (click)="includeCategory(category)"/>
                        <span [innerHtml]="category"></span>
                    </span>
                </div>
            </form>
        </div>
    </div>
</nav>

<section id="storewrapper">
    <div class="clear-float-optional"></div>
    <div id="main">
        <div class="products" *ngIf="filteredProducts">
            <ul class="product-list">
                <li *ngFor="let product of filteredProducts">
                    <product (addToBasket)="addToBasket($event)" [product]="product"></product>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear-float-optional"></div>
    <basket *ngIf="basket" id="sidebar" [basket]="basket"></basket>
</section>