 <article class="row vertical-align pad-row-5">
     <div class="col-xs-4 col-sm-5 col-md-4 col-lg-3">
         <img class="img-responsive" [src]="product.imageUrl || 'dist/assets/no-photo-300x200.jpg'" alt="product-image" />
     </div>
    <div class="col-xs-8 col-sm-7 col-md-8 col-lg-9">
        <div class="speciality-product-title" >
            <h3 class="float-left" [innerHtml]="product.name"></h3>
            <div class="speciality-product-add float-right">
                <price *ngIf="product.oldprice" [strike]="true" value="product.oldprice"></price>
                <price [highlight]="true" value="product.price"></price>
                <button class="btn btn-default btn-xs" type="button" (click)="basket.addItem(product)">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="product-add-label">Add Item</span>
                </button>
            </div>
        </div>
        <p class="pre-wrap" [innerHtml]="product.detailedDescription"></p>
    </div>
</article>