<div class="product-wrapper text-center">
    <div class="product" *ngIf="product">
        <h3 class="product-title text-uppercase" [innerHtml]="product.name"></h3>
        <img class="product-img" [src]="product.imageUrl || 'dist/assets/no-photo-300x200.jpg'" alt="product-image"/>
        <div class="product-description" [innerHtml]="product.description"></div>
        <span *ngIf="product.pricePerKilo">(</span><price *ngIf="product.pricePerKilo" [value]="product.pricePerKilo"></price>
        <span *ngIf="product.pricePerKilo">per kilo)</span>
        <div class="text-right">
            <price *ngIf="product.oldPrice" [strike]="true" [value]="product.oldPrice"></price>
            <price [highlight]="true" [value]="product.price"></price>
        </div>
        <div class="pad-top-10">
            <button *ngIf="isAddToBasketUsed" class="btn btn-default btn-xs add-item" type="button" (click)="addItem(product)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span class="product-add-label">Add Item</span>
            </button>
        </div>
    </div>
</div>