@import url(https://fonts.googleapis.com/css?family=Roboto);

body, html {
    font-family: Roboto, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #5a5a5a;
}

body { padding-top: 50px; }

.clear-float:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.navbar { margin-bottom: 0 !important; }

a.not-active {
    pointer-events: none;
    cursor: default;
}

.title {
    font-weight: bold;
    font-size: 36px;
}

.line {
    border-top: 4px solid #fcac45;
    height: 10px;
    width: 60px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 30px;
}

.section-title {
    background: #eeeeee;
    text-align: center;
}

.section-subtitle {
    background: #dddddd;
    text-align: center;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.image-display {
    max-height: 100%;
    max-width: 100%;
}

.pre-wrap {
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap; /* newer Opera */
    white-space: pre-wrap; /* Chrome; W3C standard */
}

.alert-inline { display: inline-block; }


/* Align */

.text-right { text-align: right; }

.text-center { text-align: center; }

/* Padding */

.pad-top-10 { padding-top: 10px; }

.pad-top-20 { padding-top: 20px; }

.pad-left-20 { padding-left: 20px; }

.pad-row-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pad-right-20 { padding-right: 20px; }

/* Float */

.float-right { float: right; }

.float-left { float: left; }

/* Height */

.full-height { height: 100%; }

@media screen and (min-width: 768px) {
    .pad-bot-xs-20 { padding-bottom: 20px; }

    .equal {
        display: inline-flex;
        width: 100%;
        align-items: center;
    }
}

@media screen and (min-width: 992px) {
    .equal-md {
        display: inline-flex;
        width: 100%;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .twitter_wrapper { text-align: center; }

    .twitter_wrapper > iframe { margin: auto; }
}