.checkout-product-img {
    width: 150px;
    height: 100px;
}

.checkout-product-breakdown{
}

.checkout-header{
    border-bottom: 3px solid #eeeeee;
}

.checkout-at{
    padding-left:5px;
    padding-right:5px;
}

.checkout-product-details {
    width: calc(100% - 150px);
    margin-left: 150px;
    padding: 10px 20px;
}
.checkout-product-totals {
    padding: 10px 20px;
}

.checkout-total{
}

.checkout-row{
    height:104px;
    border-bottom: 3px solid #eeeeee;
}

.checkout-header-title-total{
    padding-right:20px;
}

.checkout-product-quantity{
    font-size:18px;
    font-weight: 500;
}

.checkout-product-quantity-container{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.1;
}

.checkout-product-title{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.1;
    font-size:18px;
    font-weight: 500;
}

.checkout-product-total{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.1;
    font-size:18px;
    font-weight: bold;
}

.checkout-price-normal{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.1;
}

.input-required-label{
    text-decoration: underline;
}

.not-required {
    font-weight: normal !important;
}

@media screen and (max-width: 767px) {
    .checkout-product-img{
        width: 105px;
        height: 70px;
    }

    .checkout-total-row{
        height:70px;
    }

    .checkout-product-details {
        width: calc(100% - 105px);
        margin-left: 105px;
        padding: 5px 10px;
    }
    .checkout-product-totals {
        padding: 5px 10px;
    }

    .checkout-product-title{
        font-size: 14px;
    }

    .checkout-product-quantity{
        font-size:14px;
    }

}


@media screen and (max-width: 500px) {
    .checkout-header.row .checkout-product-details{
        display:none;
    }
}