#main {
    float: left;
    background-color: rgb(247, 245, 242);
    overflow: auto;
    height: 100%;
    border: 5px solid #FFFFFF;
    width: calc(100% - 300px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

.speciality-product {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
}


.speciality-product-img {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: 200px;
}

.speciality-product-info {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.speciality-product-description { }

.speciality-product-title {
    display: inline-block;
    min-width: 100%;
    padding-left: 20px;
}

.speciality-product-add { margin-top: 15px; }

@media screen and (max-width: 991px) {
    .speciality-product-img {
        width: 180px;
        height: 120px;
        vertical-align: middle;
    }

    .speciality-product-info { width: calc(100% - 180px); }

    .fix-basket-btn {
        position: fixed;
        top: 50px;
    }
}