<footer id="footer" class="text-center pad-top-20">
    <!-- <div class="alert alert-info alert-dismissible fade in cookie-warning" role="alert" style="display:none;">
        <div class="alert-inline">
            <span class="cookie-disclaimer">
                We have placed cookies on your device to help make this website better.  No personal details are stored.
            </span>
            <a href="https://ico.org.uk/for-the-public/online/cookies/" class="alert-link">What are cookies?</a>
        </div>
        <div class="alert-inline">
            <button type="button" class="btn btn-info dismiss-cookie-warning-btn" data-dismiss="alert" aria-label="Close">
                I'm fine with this
            </button>
            <a href="https://www.google.com" type="button" class="btn btn-info">
                I don't agree
            </a>
        </div>
    </div> -->
    <p>
        <a [routerLink]="['/terms']">Terms and Conditions</a>
        |
        <a [routerLink]="['/contact-us']">Contact Us</a>
    </p>
    <p>
        <span>ALL RIGHTS RESERVED. COPYRIGHT &copy; 2018. Designed by </span>
        <a href="http://www.cp-webdesign.uk">Clarendon Park Web Design</a>
    </p>

</footer>