<app-splash-banner [adjective]="splash.adjective"
               [title]="splash.title"
               [caption]="splash.caption"
               [subCaption]="splash.subCaption"
               [target]="'#content'"
               [imgSrc]="'assets/home/Meat-Cover.jpg'"></app-splash-banner>
<div class="container" id="content">
    <app-christmas-orders></app-christmas-orders>
    <app-store-snippet></app-store-snippet>
    <app-gang></app-gang>
    <app-hog></app-hog>
    <app-contact-us></app-contact-us>
</div>