<h2 class="section-title">Christmas Orders</h2>
<div class="line"></div>
<div class="row equal text-center">
    <div class="col-sm-10">
        <p class="lead">
            Christmas is coming! If your as excited as we are, you can order your christmas nourishment by filling in 
            <a href="dist/assets/Christmas Order Form.docx">this</a>
            form.  Just email it to <span class="email">sales@warcherbutchers.co.uk</span> with a your phone number or email address and we will get back to you with confirmation.
        </p>
    </div>
    <div class="col-sm-2">
        <a href="dist/assets/Christmas Order Form.docx">
            <span class="glyphicon glyphicon-file" style="font-size:50px;" aria-hidden="true"></span>
        </a>
    </div>
</div>