
<h2 class="section-title">Hog Roast Service</h2>

<div class="line"></div>
<div class="row equal text-center">
    <div class="col-sm-6 col-sm-offset-0">
        <img class="hog-img" [src]="'dist/assets/CookingCut2.jpg'" alt="Hog Roast"/>
    </div>
    <div class="col-sm-6 pad-bot-20">
        <p class="lead" [innerHtml]="intro"></p>

        <p class="lead" [innerHtml]="message"></p>
        <a [routerLink]="['/hog-roast']" class="btn btn-primary btn-lg" [innerHtml]="linkMessage"></a>
    </div>
</div>